.black {
    background-color:#005555;
}
.bg-gray{
    background-color: #636464d1;
}
.pr{
    padding-top: 125px;
    font-family: "Sofia", sans-serif;
}
.nav-bg-color{
    background-color: #8E3200;
}
